header
  .header-and-footer-wrapper
    .header-line 
      .logo
        a(href="/") 
          img(src="img/logo.png")
      .menu
        a(href="/") Home
        a(href="#") Product
        a(href="#") Promo
        a(href="#") About
        a(href="#") Contact
    .header-info
      h1 Best Pizza
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
      a(href="#") Order Now